form{
  margin-top: 5%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.btn{
  margin-top: 10px;
  font-size: 2rem;
}
.form-control{
  padding: 0;
  border: none;
  box-shadow: none;
  background-color: #ffffff;
  height: 100%;
}
.card{
  background-color: #d8ecff;
  border-radius: 12px;
}
