.edit-text{
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(179, 220, 235, 0.62);
  width: 100%;
  padding: 0.8em;
  text-align: center;
  display: block;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #6b8fac;
}
.edit-text p{
  margin-bottom: 0.2em;
  text-align: center;

}

.new-text{
  background-color: #fff;
  width: 95%;
  height: 6em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
}
.save{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background: #4ebdcb;
  border-color: #4ebdcb;
  border-style: solid;
  width: 9.5rem;
  height: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
}
.cancel{background: #f1f1f1;
  border-color: grey;
  border-style: solid;
  border-width: 0.5px;
  width: 9.5rem;
  height: 2.5rem;
}
