<div><h3>Massiv komentov</h3>
    <tr
            *ngFor="let message of messages; let inx=idmes"
            class="message"
    >
        <td>{{message.idmes}} </td>
        <td> {{message.namemes}} </td>
        <td>{{message.textmes}} </td>
        <td>{{message.datemes | date:'medium': null:'ru'}}</td>
        <td>
            <button><a (click)="edit(message.idmes)">Редактировать</a></button>
            <button><a (click)="remove(message.idmes)">Удалить</a></button>
        </td>
    </tr>

</div>
<div class="comment">
    <h2>Here you can leave a comment</h2>
<form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-control"
         [ngClass]="{invalid: form.get('namemes').touched && form.get('namemes').invalid}"
    >
        <label for="namemes">Имя коментатора:</label>
        <input id="namemes" type="text" formControlName="namemes">
        <div *ngIf="form.get('namemes').touched && form.get('namemes').invalid"
             class="validation">
            <small *ngIf="form.get('namemes').errors.required">Введите автора комента</small>
        </div>
    </div>

    <div class="form-control"
         [ngClass]="{invalid: form.get('textmes').touched && form.get('textmes').invalid}"
    >
        <label for="textmes">Текст комента:</label>
        <input id="textmes" type="text" formControlName="textmes">
        <div *ngIf="form.get('textmes').touched && form.get('textmes').invalid"
             class="validation">
            <small *ngIf="form.get('textmes').errors.required">Введите название поста</small>
        </div>
    </div>
<!--<p>{{id}}</p>-->
    <button type="submit" class="btn btn-block btn-dark" [disabled]="form.invalid" >Создать комент</button>
</form>
</div>
