.comment{
  background-color: #b9f9b7;
}
.foto{
  display: flex;
  flex-direction: column;
}
.message{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btn{
margin-top: 10px;
}
.form-control{
  padding: 0;
  border: none;
  box-shadow: none;
  background-color: #b9f9b7;
  height: 100%;
}
