<app-alert></app-alert>
<nav class="navbar bg-primary">
    <div class="link">
        <a class="a-link" routerLink="/">Блог для пользователей</a>
    </div>
    <div>
        <ul *ngIf="auth.isAuthanticated()">
            <li routerLinkActive="active"><a [routerLink]="['/admin', 'dashboard']">Главная</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/admin', 'create']">Создать</a></li>
            <li routerLinkActive="active"><a href="#" (click)="logout($event)">Выйти</a></li>

        </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
